body {
  font-family: 'Open Sans', sans-serif; 
  margin: 0px;
  padding
}

h2 {
  font-family: 'Open Sans', sans-serif;
}

.range-inputs {
  width: 60px;
  height: 40px;
  font-size: 15px;
}

#user-range-submit {
  margin: 0px 5px;
  height: 40px;
  font-size: 20px;
}

#intro-div {
  height: 150px;
}

#first-article {
  padding: 5px;
}

#guess-form {
  margin: 0;
}

#instructions-message {
  color: #ED458B;
  font-family: 'Open Sans', sans-serif;
  font-size: 20px;
  margin: auto;
  white-space: nowrap;
  overflow: hidden;
  width: 30em;
  animation: type 4s steps(60, end); 
}

@keyframes type{ 
  from { width: 0; } 
} 

header {
  background-color: #404041;
  text-align: center;
  width: 100%;
  padding: 32px 0;
}

#range-set {
  color: #D0D2D3;
  font-size: 20px;
  font-family: 'Open Sans', sans-serif;
  text-align: center;
}

#number-title {
  color: #ffffff;
  font-size: 60px;
  font-weight: lighter;
  font-family: 'Open Sans', sans-serif;
/*  margin-top: 30px;
*/}

#number-title span {
  color: #ED458B;
  font-size: 60px;
  font-weight: 700;
  margin-right: 10px;
}

article {
  text-align: center;
}

input {
  width: 473px;
  height: 50px;
  font-size: 30px;
  font-color: #D0D2D3;
  font-weight: lighter;
  text-align: left;
  text-indent: 10px;
  margin: 40px 0px 40px 0px;
  border: light;
}

button {
  border-radius: 25px;
  border: none;
  background-color: #929497;
  color: #ffffff;
  height: 42px;
  font: open sans;
  font-size: 30px;
  font-weight: 100;
  }

button:hover {
  background-color: #ED458B;
}

button:disabled {
  background-color: #D0D2D3;
}

.game-buttons {
  display: inline-block;
  margin: 5px 20px 0px 20px;
  width: 216px;
}

.game-form-text {
  font-size: 30px;
  font-color: #D0D2D3;
  font-family: 'Open Sans', sans-serif;
}

#guess-display-title {
  margin: 70px 0px 50px 0px;
  color: #D0D2D3;
}

#user-feedback {
  margin: 40px 0px 70px 0px;
  color: #D0D2D3;
}

#guess-display {
  color: #ED458B;
  font-family:'Open Sans', sans-serif;
  font-size: 200px;
  font-weight: 100;
  margin: 0px;
  padding: 0px;
}

.container {
  height: 365px;
}

.reset-button {
  font-size: 20px;
  height: 45px;
  width: 473px;
  margin: 25px 0px 100px 0px;
  padding: 0;
}
